{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block home %}
<p style="font-size:50px">This is about page.</p>
<p style="font-size:30px">
Author : Manhar Jindal.
</p>
<p style="font-size:30px">
Contact : +91 75890-42809
</p>
<p style="font-size:40px">
•writing any TODO.
</p>
<p style="font-size:30px">
To get started with this todo list app you may follow the instruction given below.
</p>
<p style="font-size:30px">
1)First add your routine work in Todo title column.
</p>
<p style="font-size:30px">
2)Then add some description in todo description column.(optional)
</p>
<p style="font-size:30px">
3)Then press submit button.
</p>
<p style="font-size:40px">
•Editing and deleting any TODO.
</p>
<p style="font-size:35px">
•Editing any TODO.
</p>
<p style="font-size:30px">
Go to the TODO that you want to edit.
<p style="font-size:30px">
1)First press the update button present on the right hand side of your todo.
</p>
<p style="font-size:30px">
2)Then edit it and save using update button.
</p>

<p style="font-size:35px">
•Deleting any TODO.
</p>
<p style="font-size:30px">
Go to the TODO that you want to delete.
</p>
<p style="font-size:30px">
Press delete button present on the right hand side of your todo.
</p>
<p style="font-size:32px" align="center">
♪♪♪♪Thanks for visiting our website.♪♪♪♪
</p>

{% endblock home %}